// Colors
$primary: #008786;
$primary-hover: #005756;
$dark-gray: #252525;
$white: #ffffff;
$white-hover: #B6B6B6;
$footer: #8C8C8C;
$footer-divider: #EEEEEE;

// Breakpoints
$mobile: 414px;
$tablet: 768px;
$desktop: 1024px;

// Fonts
$switzer: 'Switzer', sans-serif;
$satoshi: 'Satoshi', sans-serif;
