@use 'assets/scss/modules/color.scss';
@use 'assets/scss/modules/text-styles';

.wa-background-image {
	position: absolute;
	height: 250.26px;
	width: 100%;
	left: 0px;
	top: 0px;
	object-fit: cover;
	filter: brightness(60%);
}


.wa-legal-top-spacer {
	height: 100px;
}

@media only screen and (max-width: 768px) {
	.wa-legal-top-spacer {
		height: 50px;
		}
}

.wa-legal-notice {
	z-index: 10;
	
	h2 {
		@include text-styles.hero(color.$white, 36px);
		margin-bottom: 60px
	}

	h3 {
		@include text-styles.sidekick(color.$dark-gray);
		margin: 10px 0 7px;
	}

	p {
		@include text-styles.body(color.$dark-gray);
		line-height: 1.5em;
		width: 90%;
	}
}
