@use 'assets/scss/modules/color.scss';
@use 'assets/scss/modules/text-styles';

.backgroundImage {
	position: absolute;
	height: 250.26px;
	width: 100%;
	left: 0px;
	top: 0px;
	object-fit: cover;
	filter: brightness(60%);
}


.legalTopSpacer {
	height: 100px;
}

@media only screen and (max-width: 768px) {
	.legalTopSpacer {
		height: 50px;
		}
}

.legalNotice {
	margin-left: 11px;
	z-index: 10;
	
	h2 {
		@include text-styles.hero(color.$white, 36px);
		margin-bottom: 60px
	}

	h3 {
		@include text-styles.sidekick(color.$dark-gray);
		margin-bottom: 5px;
	}

	p {
		@include text-styles.body(color.$dark-gray);
		line-height: 1.5em;
	}
}
